<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AFPClient4Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AFPClient4Windows.Properties.Settings>
      <setting name="U" serializeAs="String">
        <value />
      </setting>
      <setting name="P" serializeAs="String">
        <value />
      </setting>
      <setting name="Host" serializeAs="String">
        <value />
      </setting>
      <setting name="NoUserAuthent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleartxtPasswrd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TwoWayRandnumExchange" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DHCAST128" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DHX2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HostDir" serializeAs="String">
        <value />
      </setting>
      <setting name="AttachResFork" serializeAs="String">
        <value>True</value>
      </setting>
    </AFPClient4Windows.Properties.Settings>
  </userSettings>
</configuration>